<script src="/js/jquery-3.5.1.min.js"></script>
<link href="/css/jquery.fancybox.css" rel="stylesheet">
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/zozo.js"></script>

{{ if .Site.Params.enableMathJax }}
{{ partial "mathjax.html" . }}
{{ end }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KKJ5ZEG1NB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-KKJ5ZEG1NB');
</script>